.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  width: auto;
  position: relative;
  justify-self: flex-end;
  margin-right: 50px;
}

.expanderHeader {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}

.expanderTitle {
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 40px;
}

.notification {
  box-sizing: border-box;
  padding: 3px;
  padding-bottom: 0;
  width: 30px;
  border-radius: $border-radius;
}

.notification:hover {
  background-color: $dark-white;
  cursor: pointer;
}

.profileBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
