* {
  margin: 0;
  padding: 0;

  font-family: "Open Sans";
  font-weight: 400;
  z-index: 0;
}

html {
  scroll-margin-top: 72px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}