.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 800px;
  box-shadow: 1px 1px 2px 2px $gray;
  height: 500px;
  margin: 35px 0;
  border-radius: $border-radius;
  position: relative;
  overflow-x: hidden;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(3, 800px);
  transition: all 0.3s ease-out;
  margin-bottom: 10px;
}

.step1 {
  position: absolute;
  left: 0px;
}

.step2 {
  position: absolute;
  left: -800px;
}

.step3 {
  position: absolute;
  left: -1600px;
}

.title {
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
  & h4 {
    font-weight: 400;
    text-align: center;
  }
}

.title::after {
  position: absolute;
  bottom: -10px;
  content: "";
  border-top: 1px solid $gray;
  width: 100%;
}

.step {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step > form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step ul {
  list-style-type: disc;

  & > li {
    font-size: 22px;
    width: 90%;
    word-break: normal;
    margin-left: 50px;
    font-weight: 300;
    margin-bottom: 7px;
  }
}

.buttons {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
}
