.title {
  margin-top: 10px;
  position: relative;
  margin-bottom: 20px;
  & h3 {
    font-weight: 300;
    text-align: center;
  }
}

.title::after {
  position: absolute;
  bottom: -10px;
  content: "";
  border-top: 1px solid $gray;
  width: 100%;
}

.main {
  width: 50vw;
  height: auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 25px 15px;
  box-shadow: 1px 1px 2px 2px $gray;
  border-radius: $border-radius;
  margin: 25px auto;

  & > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
